.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #262425;
  padding: 1.5% 2%;
  height: 50px;
  /*max-height: 5.75vh;*/
  width: 100%;
  z-index: 2;
}

.header-logo {
  width: 2.5vw;
  margin-right: 0.5%;
}

.header-container {
  height: 0px
}

.header-avatar {
  border: 1.5px solid #fff;
  border-radius: 50%;
  top: 1rem;
  /*width: 2.5vw;*/
  height: 35px;
  max-width: 35px;

  &:hover {
    opacity: 0.8;
    border: 1.5px solid #C0C0C0;
  }
}

.header-search-bar {
  outline: none;
  padding-left: 1rem;
  color: #C0C0C0;
  height: 4vh;
  width: 20vw;
  border: none;
  background-color: #262425;
}

.header-search-bar::placeholder {
  color: #C0C0C0;
  font-weight: 300;
}


.avatar-dash {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-dashboard-btn {
  padding-right: 1rem; 
  background-color: transparent;
  border: none;
  color: #fff;

  &:hover {
    color: #C0C0C0;
  }
}

.header-link {
  color: #fff;
  margin-right: 1vw;

  &:hover {
    color: #C0C0C0;
  }
}

.header-app-name {
  color: #ecdb7e;
  font-size: 2rem;
  margin: 0;
}

.header-app-name span {
  color: #fafafa;
}

























