.header {
  position: relative;
  background-color: #883955;
  padding: 1.5% 2%;
  height: 6vh;
  z-index: 2;
}

.header-logo {
  width: 2.5vw;
  margin-right: 0.5%;
}

.header-avatar {
  border: 1.5px solid #fff;
  border-radius: 50%;
  position: absolute;
  /*right: 3.25rem;*/
  top: 1rem;
  width: 3vw;

  &:hover {
    opacity: 0.8;
    border: 1.5px solid #FECBDD;
  }
}

.header-links {
  float: right;
}

.avatar-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-dashboardBtn {
  background-color: transparent;
  border: none;
  color: #fff;

  &:hover {
    color: #FECBDD;
  }
}

a {
  text-decoration: none;
}

.header-link {
  color: #fff;
  margin-right: 1vw;

  &:hover {
    color: #FECBDD;
  }
}

.welcome {
  color: #FECBDD;
  font-size: 3vw;
  margin: 0;
}

.welcome span {
  color: white
}

























