.edit-profile-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #883955;
  border-radius: 0.25rem;
  background-color: white;
  height: 19rem;
  margin: auto;
  width: 30rem;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  padding: 1%;
}

input {
  height: 3vh;
  margin: 2% 0;
}
