.dashboard-link {
  text-decoration: none;
  color: #C0C0C0;
  margin: 0 1rem;

  &:hover {
    color: #A9A9A9;
  }
}

@keyframes active {
    from {top: -20rem}
    to {top: 0;}
}

@keyframes hidden {
    from {top: 0}
    to {top: -20rem}
}

h5 { 
  margin: 0;
}

.dashboard {
  background-color: rgba(0, 0, 0, 0.5);
  height: 3rem;
  position: relative;
  top: 0;
  z-index: 1;
}

.dashboardShow {
  animation-duration: 0.5s;
  animation-name: active; 
}



.dashboardHide {
  animation-duration: 0.5s;
  animation-name: hidden; 
  top: -20rem;
}

