.dashboard-link {
  text-decoration: none;
  color: #C0C0C0;
  margin: 0 1rem;

  &:hover {
    color: #A9A9A9;
  }
}
.active {
  color: #fff;
}

@keyframes active {
    from {top: 0}
    to {top: 50px}
}

@keyframes hidden {
    from {top: 50px}
    to {top: 0}
}

h5 { 
  margin: 0;
}

.dashboard-username {
  padding-left: 1rem;
  color: #fff
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  height: 2rem;
  width: 100vw;
  position: fixed;
  top: 50px;
  z-index: 1;
}

.dashboardShow {
  animation-duration: 0.5s;
  animation-name: active; 
}

.dashboardHide {
  animation-duration: 0.5s;
  animation-name: hidden; 
  top: 0;
}


























