.login{
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  border: 1px solid #883955;
  border-radius: 0.25rem;
  background-color: white;
  width: 50%;
  height: 18rem;
  margin: auto;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  padding: 1%;
  box-shadow: 0 0 0 100vh rgba(25,6,6, 0.8);

  h5 {
    text-align: center;
    font-size: 1.6em;
  }

  input {
    height: 3vh;
    margin: 1% 0 3% 0;
  }
}


.login-err-message {
  margin: 0 auto;
  color: transparent;
}

.activeError {
  transition: color 0.15s linear;
  color: black;
}

.close-btn {
  border-radius: 50%;
  background-color: #fff;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;

  &:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  } 
}