.test-img {
  opacity: 0.5; }

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.App {
  height: 100vh;
  position: relative; }

form {
  max-width: 720px;
  padding: 2%; }

a:hover {
  cursor: pointer; }

@media screen and (max-width: 720px) {
  form {
    padding: 0;
    margin: auto; } }
