.test-img {
  opacity: 0.5; }

* {
  box-sizing: border-box; }

.App {
  height: 100vh;
  position: relative;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  /* IE6-9 */
  overflow: auto; }
