.signup {
  display: flex;
  flex-direction: column;
  border: 1px solid #883955;
  border-radius: 0.25rem;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  padding: 2%;
  box-shadow: 0 0 0 100vh rgba(25, 6, 6, 0.8); }
  .signup h5 {
    text-align: center;
    font-size: 1.6em; }
  .signup button {
    margin-top: 2%; }

.signup-err-message {
  margin: 0 auto;
  color: transparent; }

.activeError {
  transition: color 0.15s linear;
  color: black; }

.close-btn {
  border-radius: 50%;
  background-color: #fff;
  float: right;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s; }
  .close-btn:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
